<%= form_tag sessions_path, :class => 'form-inline' do %>
<h2 style="text-align: center" >
	<a class="signin_facebook" >&nbsp</a>
	&nbsp;o&nbsp;
	<a class="signin_twitter" >&nbsp</a>
</h2>
<div style="height: 10px" >&nbsp;</div>
  <div class="control-group span1" style="text-align: right" >
    <%= label_tag :email, nil, :class => 'help-block' %>
  </div>
  <div class="controls span3">
      <%= text_field_tag :email, params[:email] %>
  </div>

  <div class="row" >&nbsp;</div>

  <div class="control-group span1" style="text-align: right">
    <%= label_tag :password, nil, :class => 'help-block' %>
  </div>
  <div class="controls span3">
      <%= password_field_tag :password %>
  </div>

  <div class="row" >&nbsp;</div>

  <div class="control-group span1" style="text-align: right">
    &nbsp;
  </div>
  <div class="controls span3">
      <%= submit_tag "Ingresa o Regístrate", :class => 'btn btn-info pull-right' %>
  </div>
  <br><br>
  <div class="control-group span1" style="text-align: right">
    &nbsp;
  </div>
  <div class="controls span3">
      <a href="#" class=" pull-right" >¿Olvidaste tu contraseña?</a>
  </div>
<% end %>