<%= form_tag sessions_path, :class => 'center' do %>
<h2 style="text-align: center" >
	<a class="signin_facebook" href="/auth/facebook" >&nbsp</a>
	&nbsp;o&nbsp;
	<a class="signin_twitter" href="/auth/twitter" >&nbsp</a>
</h2>
<div style="height: 10px" >&nbsp;</div>
  <div class="control-group span1" style="text-align: right" >
    <%= label_tag :email, nil, :class => 'help-block' %>
  </div>
  <div class="controls span4 input-append">
      <%= text_field_tag :email, params[:email] %>
      <span class="add-on"><i class="icon-envelope">&nbsp;</i></span>
  </div>


  <div class="control-group span1" style="text-align: right">
    <%= label_tag :password, nil, :class => 'help-block' %>
  </div>
  <div class="controls span4 input-append">
      <%= password_field_tag :password %>
      <span class="add-on"><i class="icon-lock">&nbsp;</i></span>
  </div>

  <div class="control-group span1" style="text-align: right; padding-right: 27px">
    &nbsp;
  </div>
  <div class="controls span3">
      <%= submit_tag "Ingresa o Regístrate", :class => 'btn btn-info pull-right' %>
  </div><br><br>
  <div class="row span5" style="height: 5px;" >&nbsp;</div>
  <div class="control-group span1" style="text-align: right; padding-right: 27px">
    &nbsp;
  </div>
  <div class="controls span3">
      <a href="#" class=" pull-right" >¿Olvidaste tu contraseña?</a>
  </div>
<% end %>