<% comentarios.each do |comment| %>
	<div class="row comentario" id="<%=comment.id%>">
		<% if comment.user_id.to_s.eql?(current_user.id.to_s) %>
		<a href="/comments/<%=picture_id%>/<%=comment.id%>" data-method="delete" data-remote="true" class="close">×</a>
		<% end %>
		<div class="span1 user-thumb">
			<% begin 
				user = User.find(comment.user_id)%>
				<%=
				link_to image_tag(user.avatar.url(:thumb),:class => "thumb"), "/users/#{user.id}"
				%>
			<% rescue %>
				<%=image_tag('default_user.png',:class => "thumb")%>
			<% end %>
		</div>
		<div class="span2 user-comment" style="height:30px">
			<strong>
				<% begin %>
					<%=link_to user.nombre+" "+user.apellidos,"/users/#{user.id}" %>:  
				<% rescue %>
					Default user
				<% end %>
			</strong>  <%= comment.contenido %>

		</div> 
	<hr />
	</div>
<% end %>