<div class="fila" id="comentario-<%=@comentario.id%>">
  <div class="thumb">
    <% begin 
      user = User.find(@comentario.user_id) 
    %>
      <%= image_tag user.avatar.url(:thumb),:size => "32x32", :class => "thumb img-rounded" %>
    <% rescue %>
      <%=image_tag 'default_user.png',:class => "thumb img-rounded", :size => "32x32" %>
    <% end %>
  </div>
  <div class="desc">
    <div class="autor">
    <% begin %>
      <%=user.nickname%>
    <% rescue %>
      
    <% end %>
    </div>
    <div class="fecha">
      <%=@comentario.created_at.strftime("%d-%m-%Y / %I:%M:%S %p") %>
      <%if current_user.id == user.id %>
        <a href="/comments/<%=@resource.id%>/<%=@comentario.id%>" data-method="delete" rel="nofollow" data-remote="true" class="delete_comment" data-confirm="¿Estás Seguro?"><i class="icon-trash"></i></a>
      <% end %>
    </div>
    <div style="clear:both;width:100%">
      <%= @comentario.contenido %>
    </div>
  </div>
</div>