<% 
content_for :css do %>
<%= stylesheet_link_tag    "empresa", :media => "all" %>
<% end 
content_for :main_js do %>
  "/assets/empresa_register.js"
<% end %>


<div id="empresas">
    <header>
        <h1>Dandoo.tv</h1>
	    <h2>Acerca tu marca o productos <br>a tus consumidores</h2>
    </header><!-- fin header -->
    
    <%= semantic_form_for @empresa, :html => {:class => "stn-form label-inline simple formulario"} do |f|%>
    	
    <section class="contenedor steps active" id="paso1">       
    	<h3>Datos de Empresa</h3>
    		<div class="field">
				<%=f.label :nombre, 'Nombre de Empresa:' %>
				<%=f.text_field :nombre, :size => '45',:required => true,:autofocus=>'autofocus',:placeholder => 'Nombre identificatorio de la empresa' %>
			</div>  
		
			<div class="field">
				<%=f.label :nombre_legal, 'Nombre Legal:' %>
				<%=f.text_field :nombre_legal, :size => '45',:required => true,:placeholder => 'Nombre Legal (SII/Facturación) de la empresa' %>
			</div>  

			<div class="field">
				<%=f.label :rut, 'RUT Empresa:' %>
				<%=f.text_field :rut, :size => '29', :maxlength => '7',:style => 'text-align:right',:required => true,:placeholder => 'Rut sin puntos ni guión' %>
				 -
				 <%=f.text_field :dv, :maxlength => '1', :size => '2',:style => 'text-align:center',:required => true %>
				
				<span class="pruebaerror">ej: 1234567-8</span>
			</div>        

			<div class="field">
				<%=f.label :rubro, 'Rubro:'%>
				<%=f.select :rubro_id, options_for_select(Rubro.all.map{|u| [u.nombre,u.id]}),{:include_blank => 'Seleccionar rubro'},{:required => true} %>

			</div>     

	    	<div class="field">
				<%=f.label :country, 'País:'%>
				<%=f.select :country_id, options_for_select(Country.all.map{|u| [u.nombre,u.id]}),{:include_blank => 'Seleccionar país'},{:required => true} %>

			</div>  
	    
		    <div class="actionrow">
		        <a href="#" class="button" id="go_paso2"/>Datos de Contacto</a>
		    </div> 
	    	<br>  
    </section><!-- fin section paso 1-->    
    
    

    <section class="contenedor steps " id="paso2" >       
        <h3>Datos de Contacto</h3>
        
        <%= f.fields_for :representante do |r| %>
		<div class="field">
			<%=r.label :nombre, 'Nombre representante' %>
			<%=f.text_field :nombre, :size => '45', :required => 'true', :placeholder => 'Nombre representante legal' %>
		</div>        

		<div class="field">
			<%=r.label :rut, 'Rut:' %>
			<%=r.text_field :rut, :size => '29', :maxlength => '7',:style => 'text-align:right',:required => true,:placeholder => 'Rut sin puntos ni guión' %>
			 -
			 <%=r.text_field :dv, :maxlength => '1', :size => '2',:style => 'text-align:center',:required => true %>
			
			<span class="pruebaerror">ej: 1234567-8</span>
		</div>        

		<div class="field">
			<%=r.label :cargo, 'Cargo en la empreaa' %>
			<%=r.text_field :cargo, :size => '45', :required => 'true', :placeholder => 'Cargo del representante legal' %>
		</div>  
		
		<div class="field">
			<%=r.label :telefono, 'Teléfono' %>
			<select>
			  <option value="seleccionar">Seleccionar</option>
			  <option value="fijo">Fijo</option>
			  <option value="movil">Móvil</option>
			</select>			
			<%=r.text_field :telefono, :size => '22', :maxlength => '7' %>
			<a class="tooltip ttgreen" href="#">
				<img src="/assets/empresa/info.gif" alt="info" width="14" height="14" border="0" />
				<span>Solo lo utilizaremos en caso de contacto</span>
			</a>

			<br>
			<span class="pruebaerror">ej: fijo: 02 3151513 / móvil: 56094050</span>
		</div>        
		<% end %>

		<div class="field">
			<%=f.label :email %>
			<%=f.email_field :email, :placeholder => 'ej:usuario@email.com', :required => true,:size => '45' %>
		</div>        



		<div class="field">
			<%=f.label :web, 'Dirección Web' %>
			<%=f.text_field :web, :placeholder => 'ej:www.empresa.com', :required => true, :size => '45' %>
		</div> 

		<div class="actionrow">
	        <a href="#" class="button"/>Continuar</a>
	    </div> 
    	<br>  

	</section><!-- fin section  paso 2-->  

	<section class="contenedor steps " id="paso3">
		<h3>Finalizando</h3>

		<div class="field">
			<%=f.label :descripcion%>
			<%=f.text_field :descripcion, :required => true, :size => '45' %>
		</div> 

		<div class="field relative">
			<%=f.label :password,'Contraseña' %>
			<%=f.password_field :password, :required => true, :size => '45', :placeholder =>'Elija una contraseña de 6 caracteres'%>
			
			<br>
			<input type="checkbox" id="show" name="valor" value="valor" style="position: absolute; right: 241px;margin-right:30px;">
			<span class="mostrar">
			Mostrar contraseña</span><br>
		</div>  

		<div class="field relative">
			<label for="fname">Contraseña: </label>
			<input id="password" name="fname" size="3" maxlength="6" type="password" class="password" />
			
		</div>         
		        

		<div class="field relative" style="margin-top: -16px;">
			<label for="fname">Acepto las condiciones de uso </label>
			<input type="checkbox" name="valor" value="valor">
			<a href="#" class="leercondiciones">Leer las condiciones de uso</a>
			
			<br>
		</div>         


        
        <div class="actionrow">
	        <a href="#" class="button" id="registrar"/>Registrar</a><br>
	        <a href="#" class="backGray"/>Volver al registro de empresa</a>
	    </div>
	    <br>
	</section>

	<section class="contenedor steps bienvenida clearfix" id="paso4">
		<h3 style="padding-top:33px;">
			Bienvenido Movistar Chile !<br>
	        Crea campañas, mídelas,<br> influencia 
	        y activa tu marca.</h3>
        
        <br><br><br><br><br><br><br><br><br><br><br><br><br>
        
        <div class="actionrow">
	        <a href="#" class="button"/>Ir a perfil empresa</a>
	        <br>
	    	<br>
	    </div>

	</section>

    <% end %>

    <footer>
    	<ul class="pasos">
	        <li>
	        	<div class="paso-on" id="p1"></div>
	        </li>
	        <li>
	        	<div class="paso-off" id="p2"></div>
	        </li>
	        <li>
	        	<div class="paso-off" id="p3"></div>
	        </li>
	        <li>
	        	<div class="paso-off" id="p4"></div>
	        </li>
	    </ul>
    	<a href="#" class="back">Volver a la portada</a>
    </footer><!-- fin footer -->


</div><!-- fin container -->