{{#each comments}}
<div class="fila" id="comentario-{{id}}">
	<div class="avatar">
		<a href="/users/{{user_id}}">
			<img src="{{this.avatar}}" width="40" height="40" />
		</a>
		
	</div>
	<div class="autor">
		<a href="/users/{{this.user_id}}">
				{{this.user_nickname}}
			</a>
		
	</div>
	<div class="texto">
	{{this.contenido}}
	</div>
</div>
{{/each}}