<div class="fila" id="comentario-{{id}}">
	<div class="thumb">
		{{#if this.avatar}}
			<a href="/users/{{this.user_id}}">
				<img src="{{this.avatar}}" width="32" height="32" class="img-rounded thumb"/>
			</a>
		{{else}}
			<img src="/assets/default_user.png" width="32" height="32" class="img-rounded thumb" />
		{{/if}}
	</div>
	<div class="desc">
		<div class="autor">
			{{#if this.user_nickname}}
			<a href="/users/{{this.user_id}}">
				{{this.user_nickname}}
			</a>
			{{/if}}
		</div>
		<div class="fecha">
			{{this.fecha}}
			{{#if this.can_edit}}
			<i class="icon-trash delete_comment" data-href="/comments/{{resource_id}}/{{this.id}}"></i>
			{{/if}}
		</div>
		<div style="clear:both;width:100%">
            {{this.contenido}}
        </div>
	</div>
</div>