<div class="fila" id="comentario-{{id}}">
	<div class="avatar">
		<a href="/users/{{user_id}}">
			<img src="{{avatar}}" width="40" height="40"/>
		</a>
	</div>
	<div class="autor">
		<a href="/users/{{user_id}}">
			{{user_nickname}}
		</a>
	</div>
	<div class="texto">
		{{contenido}}
	</div>
</div>
<div class="separador"></div>