<%= javascript "registrations" %>
<%
  content_for :barra do 
    render :partial => "layouts/barra"
  end
  content_for :botonera do
    render :partial => "layouts/botonera"
  end
%>
<div class="row">
  <div class="span12 page-header">
      <h1>Datos de Perfil</h1>
  </div>
</div>

<div class="row">
  <div class="well span8 offset2">
    
<%= semantic_form_for(@user, :url => "/user/complete_registration", :html => { :class=>"form form-horizontal", :method => :put }) do |f| %>
<input type="hidden" name="user[id]" id="user_id" value="<%=@user.id%>" />
  <% if @error_messages %>
  <div class="row">
    <div class="alert fade in alert-error">
      <a class="close" data-dismiss="alert">&#215;</a>
      <% @error_messages.each do |v, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{v}" if msg.is_a?(String) %>
      <% end %>
    </div>
  </div>
  <% end %>

  <div class="row">
    <!--IZQUIERDA
    ================-->
    <div class="span3" >
      <div class="control-group">
        <%= f.label :nombre, :class=>"control-label" %>
        <div class="controls">
          <%= f.text_field :nombre, :class => "span2", :required => true %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :apellidos, :class=>"control-label" %>
        <div class="controls">
          <%= f.text_field :apellidos, :class => "span2", :required => true %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :email , :class => "control-label"%>
        <div class="controls">
          <%= f.email_field :email, :disabled => 'disabled', :class => "span2", :required => true %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :nickname , :class => "control-label"%>
        <div class="controls">
          <%= f.text_field :nickname, :class => "span2", :required => true %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :nacimiento, :class => "control-label" %>
        <div class="controls">
          <%= f.text_field :nacimiento, :class => "date span2", :required => true %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :gender,t(:genero), :class => "control-label" %>
        <div class="controls">

          <%= f.select :gender,Gender.all.map{|u| [u.descripcion,u.id]}, {:include_blank => true},{:class => "span2", :required => true} %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :avatar,t(:avatar), :class => "control-label" %>
        <div class="controls">
          <% if @user.avatar.url.nil? %>
            <%=f.file_field :avatar, :required => true%>
          <% else %>
            <%=image_tag @user.avatar.url %>
          <% end %>
        </div>
      </div>
       
    </div>

    <!--DERECHA
    ================-->

    <div class="span3 offset1">

     <div class="control-group">
        <%= f.label :civil_statu,t(:estado_civil), :class => "control-label" %>
          <div class="controls">
           <%= f.select :civil_statu,CivilStatu.all.map{|u| [u.descripcion,u.id]}, {:include_blank => true},{:class => "span2", :required => true} %>
          </div>
        </div>

      <div class="control-group">
        <%= f.label :country, t(:pais),:class => "control-label" %>
        <div class="controls">
          <%= f.select :country, Country.all.map{ |u| [u.nombre,u.id] }, {:include_blank => true},{:class => "span2", :required => true} %>
          
        </div>
      </div>

      <div class="control-group">
        <%= f.label :state, t(:region), :class => "control-label" %>
        <div class="controls">
          <%= f.select :state, (@user.state_id?) ? State.all.map{|u| [u.nombre,u.id]} : Hash.new, {:include_blank => true},{:class => "span2", :required => true} %>
          
        </div>
      </div>

      <div class="control-group">
        <%= f.label :commune,t(:comuna), :class => "control-label" %>
        <div class="controls">

          <%= f.select :commune, (@user.commune_id?) ? Commune.all.map{|u| [u.nombre,u.id]} : Hash.new, {:include_blank => true},{:class => "span2", :required => true} %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :city,t(:ciudad), :class => "control-label" %>
        <div class="controls">
          <%= f.select :city, (@user.city_id?) ? City.all.map{|u| [u.nombre,u.id]} : Hash.new, {:include_blank => true},{:class => "span2", :required => true} %>
          
        </div>
      </div>
    </div>
  </div>
  <div class="form-actions" style="float:right">
    <%= f.submit "Finalizar", :class => "btn btn-primary" %>
  </div>
<% end %>
  </div>
</div>
