<div class="row" id="perfil" >
	<div class="twelve columns widget" style="height: 350px !important;left:-7px !important">
		<div class="row">
			<br />
			<br />
			<div class="izq">
				<div class="row">
					<label class="nombre">
						<%=@user.nombre+" "+@user.apellidos %>
					</label>
					<hr />
				</div>
				<div class="row">
					<label><strong>Miembro Dandoo desde:</strong> <%=@user.created_at.strftime("%d de %B de %Y")%></label>
              		<br />
				</div>
				<div class="row">
					<div class="avatar">
		                <%= image_tag @user.avatar.url(:medium) %>
		            </div>
				</div>
				<div class="row">
						<br />
						<%=@user.bio %>
					
				</div>
				
			</div>

			<div class="center">
				<div class="row">
					<br />
					<br />
					<br />
				</div>

				<div class="row">
					<div class="two columns">
						<label>Email:</label>
					</div>
					<div class="five columns">
						<label><%=@user.email %></label>
					</div>
				</div>
				<div class="row">
					<br />
					<div class="two columns">
						<label>Cumpleaños:</label>
					</div>
					<div class="five columns">
					<label><%=@user.nacimiento.strftime("%d/%m/%Y") %></label>
					</div>
				</div>
				<div class="row">
					<br />
					<div class="two columns" >
						<label>Género</label>
					</div>
					<div class="five columns" >
						<label><%=(@user.gender_id.nil?) ? 'No especificado' : Gender.find(@user.gender_id).descripcion%>
					</div>
				</div>

				<div class="row">
					<br />
					<div class="two columns" >
						<label>Estado Civil</label>
					</div>
					<div class="five columns" >
						<label><%=(@user.civil_statu_id.nil?) ? 'No especificado' : CivilStatu.find(@user.civil_statu_id).descripcion%>
					</div>
				</div>
				<div class="row">
					<br />
					<div class="two columns">
						<label>País:</label>
					</div>
					<div class="five columns">
						<label><%=(@user.country_id.nil?) ? 'No especificado' : Country.find(@user.country_id).nombre%></label>
					</div>
				</div>
				<div class="row">
					<br />
					<div class="two columns">
						<label>Región:</label>
					</div>
					<div class="five columns">
						<label><%= (@user.state_id.nil?) ? 'No especificado': State.find(@user.state_id).nombre
						%></label>
					</div>
				</div>
				<div class="row">
					<br />
					<div class="two columns">
						<label>Comuna:</label>
					</div>
					<div class="five columns">
						<label><%= (@user.commune_id.nil?) ? 'No especificado' : Commune.find(@user.commune_id).nombre%></label>
					</div>
				</div>
				<div class="row">
					<br />
					<div class="two columns">
						<label>Ciudad:</label>
					</div>
					<div class="five columns">
						<label><%=(@user.city_id.nil?) ? 'No especificado' : City.find(@user.city_id).nombre%></label>
					</div>
				</div>
			</div>

			<div class="right">
	            <div class="row">
	              <div class="info_pts">
	                <label class="ranks"><%=Voto.where(:user_id => @user.id).count %></label>
	                <label class="favs"><%=Resource.where(:liker_ids => @user.id).count %></label>
	                <label class="doos"><%=@user.doos%></label>
	              </div>
	            </div>
	            
          	</div>

		</div>

	</div>
</div>