
<div class="span11 contenido">
  <div class="row">
  	<ul class="nav nav-tabs" id="user-tabs">
      <li class="active"><a href="#perfil">Perfil</a></li>
      
      <li><a href="#votadas">Imágenes Votadas</a></li>
      <li><a href="#settings">Subir Imágenes</a></li>
    </ul>
     
    <div class="tab-content">
      <div class="tab-pane active" id="perfil">
        <%= render :partial => "perfil" %>
      </div>
      <div class="tab-pane" id="settings">
        
        <%= render :partial => "subidas" %>

      </div>

      <div class="tab-pane" id="votadas">
        <%= render :partial => "votadas" %>

      </div>


    </div>
  </div>
</div>
<%= javascript(:user) %>
<%= javascript(:home) %>
