
<div class="span11 contenido">
  <div class="row">
  	<ul class="nav nav-tabs" id="user-tabs">
      <li class="active"><a href="#perfil" id="a_perfil">Perfil</a></li>
      
      <li><a href="#votadas" id="a_votadas">Imágenes Votadas</a></li>
      <li><a href="#subidas" data-remote="true" id="a_subidas">Subir Imágenes</a></li>
    </ul>
     
    <div class="tab-content">
      <div class="tab-pane active" id="perfil">
        <%= render :partial => "perfil" %>
      </div>
      <div class="tab-pane" id="votadas">
        
        <div class="span11" id="listado_container1"></div>
        <div id="page-nav1" style="display:none">
            <a href="/metadata/mas_votadas/2"></a>
        </div>  
      </div>

      <div class="tab-pane" id="subidas">

        <div class="span11" style="margin-left:30px;margin-top:10px;">
            <div class="row">
              <div class="span11" id="formulario_resource">
                <% resource = Resource.new %>
                <%= form_for resource , :html => {:multipart => true, :class => "form-inline"}, :remote => true do |f| %>
                <%= f.text_field :titulo, :required => true, :class => 'input-small',:placeholder => "Titulo"%>
                <%= f.text_field :descripcion, :class => 'span3', :placeholder => "Descripcion", :maxlength => 140,:required => true %>
                <%= f.text_field :url, :class => 'span2', :placeholder => "URL del video" %>
                <%= f.hidden_field :type %>
                <%= f.file_field :imagen %>
                <%= f.submit "Agregar", :class => "btn btn-inverse", :id => 'subir_imagen' %>
              <% end %> 
              </div>
            </div>
            <div class="row>"
            <div class="span11" id="listado_container2"></div>
            <div id="page-nav2" style="display:none">
              <a href="/metadata/subidas/2"></a>
            </div>
          </div>
          </div>

      </div>


    </div>
  </div>
</div>
<%= css(:visor) %>
<%= javascript(:user) %>
<%= javascript(:home) %>
<%= javascript(:visor) %>

