<% content_for :barra do 
    render :partial => "users/barra"
  end

  content_for :botonera do 
    render :partial => "layouts/botonera", :locals => {:section => "perfil"}
  end
%>

<div class="span11 contenido" id="perfil-data">
  <div class="row">
    <div class="span11">
    <%= semantic_form_for(@resource,:html => {:multipart => true,:class=>'form form-inline',:remote => true}) do |f| %>
      <%=f.text_field :titulo, :placeholder => 'Titulo',:required => true %>
      <%=f.text_field :descripcion, :placeholder => 'Descripcion',:required => true %>
      <%=f.hidden_field :type %>
      <%=f.text_field :url, :placeholder => 'URL del video con http://' %>
      <%=f.file_field :imagen %>
      <%= f.submit "Agregar", :class => "btn" %>
    <% end %>
  </div>
  </div>
  <div id="listado_subidas">
  <%= render :partial => "resources/listado" %>
  </div>
</div>

<div class="span11 contenido" id="listado_container" >
  
</div>
<div id="page-nav" style="display:none">
  <a href="/imagenes_index/2"></a>
</div>

     

<%= css(:visor) %>
<%= javascript(:home) %>
<%= javascript(:user) %>
<%= javascript(:visor) %>

