<% 
css 'redmond/jquery-ui-1.9.1.custom.min'
content_for :main_js do %>
  "/assets/user_index.js"
<% end 
content_for :header do 
  render :partial => 'users/header'
end 


%>
<input type="hidden" id="user_id" value="<%=@user.id%>" />
<div class="user">

  <div class="row">
    <div class="four columns buttons" >
      <a href="/users/<%=@user.id%>">
        <div class="perfil active"></div>
      </a>
      <% if @user.id == current_user.id %>  
      <!--  <div class="separador"></div>
      <a href="#tema"><div class="tema"></div></a>-->
      <% end %>
        <div class="separador"></div>
      <a href="#ranks"><div class="ranks"></div></a>
        <div class="separador"></div>
      <a href="#favs"><div class="favs"></div></a>
      <% if @user.id == current_user.id %>
        <div class="separador"></div>
      <a href="/logout">
        <div class="salir"></div>
      </a>
      <% end %>
    </div>
    <% if @user.id == current_user.id %>
    <div class="two columns">
      <a class="button small" data-reveal-id="subir_modal">Subir Recursos</a>
    </div>
    <% end %>
  </div>

  <%= render :partial => 'users/perfil_editar' if current_user.id == @user.id %>

  <%= render :partial => 'users/perfil' if current_user.id != @user.id %>
</div>

<div class="row user" id="listado_container" style="display:none">
  <% @resources = @user.resources.order_by([[:created_at,:desc]]).page(1) %>
    <%= render :partial => 'resources/listado' %>
</div>

<div id="subir_modal" class="reveal-modal [expand, xlarge, large, medium, small]">
  <div class="row">
    <h2>Agrega tus recursos a DandooTV!!</h2>
  </div>
  <%=semantic_form_for @resource, :html => {:multipart => true,:remote => true} do |f| %>
  <%=f.hidden_field :user_id, :value => @user.id %>
  <div class="row">
    <%=f.text_field :titulo, :placeholder => 'Titulo' %>
  </div>
  <div class="row">
    <%=f.text_field :descripcion,:placeholder => 'Descripcion' %>
  </div>
  <div class="row">
    <%=f.text_field :url, :placeholder => 'URL del video (Youtube o Vimeo)' %>
  </div>
  <div class="row">
    <div class="two columns">
      <div class="input_buscar"></div>
      <!-- <input type="file" id="file_resource"> -->
      <%=f.input :imagen,:as => :file %>
      <br />
      <br />
      <br />
      <%=f.submit 'Agregar',:class =>'button small',:id => 'agregar_resource' %>
      <button class="button alert small" id="close">Cancelar</button>
    </div>
    <div class="six columns">
      <div class="preview">
      </div>
    </div>
  </div>

  <% end %>
  
</div>
</div>

