<div class="well span8" id="first" style="height: 330px" >
	<div class="span5">
		  <video preload="metadata" height="240" width="360">
          	<% if @video %>
          		<source src="<%= @video.content!=nil ? @video.content.url : '#' %>" />
          	<% end %>
          </video>
          <div class="span3" >
          	<p>
            <input type="button" id="play" value="Play" class="btn">
            <input type="button" id="waiting" value="Esperando" class="btn disabled">
            <span id="position">00:00</span> / <span id="duration"></span>
            </p>
          </div>
          <div class="span1" style="background-color: #000; color: #fff; font-size: 150%; text-align: center" >
          	<br>
          	&nbsp;<span id="random_chars" ></span>
          	<br><br>
          </div>

	</div>
	<div class="span3" style="margin-right: -20px">
		<b>Acerca de los videos:</b>
		<br>-Mira el video mientras pones <i>atención</i> a los caracteres que aparecerán al costado.
		<br>
		<br>-Al final del video <i>ingresa</i> los caracteres que aperecieron y <i>contesta</i> la pregunta.
		<br>
		<br>-Dános tu <i>opinión</i> y apreta en Enviar
		<br><br>
	</div>
	<div class="span3" style="margin-right: -20px">
		<b>Descripción del video:</b><br>
		<%= @video.description %>

	</div>
</div>

<div class="well span8" id="after" style="height: 330px" >
	<b>Terminó el video ...  ahora responde las siguientes preguntas:</b><br><br>

	<%= form_for :contact, :url => 'holi' do |f| -%>
			<label>Ingresa los caracteres que aparecieron</label>
			<%= text_field_tag 'captcha_answer', nil, :size => 40 %>
			<br>
			<label><%= @video.keywords_question %></label>
			<%= text_field_tag 'email', @mail, :size => 40, :class => 'typeahead', :autocomplete => :off %>
			<br>
			<input type="hidden" name="questions_amount" value="<%= @video.questions.count.to_s %>" />
			<%
				v = 1
				@video.questions.each do |q| 
			%>
			<label><%= q.name %></label>
			<%= text_field_tag 'answer_'+v.to_s,nil, :size => 40 %>
			<br>
			<% 
				v += 1
				end
			 %>
			<input name="commit" type="submit" value="Enviar" class="btn btn-info">
			
	<% end %>

</div>
<%= @key %>
<script>

$(document).ready(function() {

        $('.typeahead').typeahead({
          source: gon.key_options
        });
     
      });


	var video = document.querySelector('video');
	var togglePlay = document.querySelector('#play');
	var position = document.querySelector('#position');
	var timer = parseInt('<%= @video.character_duration %>')
	var i = 0
	var changed_position = null
  	

	$('#play').hide();
	$('#after').hide();

	addEvent(togglePlay, 'click', function () {
	  video.playbackRate = 1;
	  if (video.paused&&this.value=="Play") {
	    if (video.ended) video.currentTime = 0;
	    video.play();
	    this.value = " --- ";
	    this.attr('class', 'btn disabled')
	  } else {
	    this.value = " --- ";
	  }
	});

addEvent(video, 'timeupdate', function () {
  position.innerHTML = asTime(this.currentTime);
  if(Math.round(this.currentTime % timer) == 0 && position.innerHTML!=changed_position){
  	$('#random_chars').text('<%= @key %>'.substring(i,i+1));
  	i++;
  	changed_position=position.innerHTML
  }
});

addEvent(video, 'ended', function () {
  togglePlay.value = "Played";
  video.currentTime = 0;
  $('#after').show();
  $('#after').attr('style','');
  $('#first').html('');
  $('#first').attr('class','');
});


addEvent(video, 'canplay', function () {
  video.muted = false;
  document.querySelector('#duration').innerHTML = asTime(this.duration);
  $('#play').show();
  $('#waiting').hide();
});

function asTime(t) {
  t = Math.round(t);
  var s = t % 60;
  var m = Math.round(t / 60);
  
  return two(m) + ':' + two(s);
}

function two(s) {
  s += "";
  if (s.length < 2) s = "0" + s;
  return s;
}

</script>


