<div class="items span3 <%=style%>" id="<%=picture.id%>">
  <div class="imagen">
    <% if user_signed_in? %>
    <div class="overlay up">
      <%= image_tag 'like.png', :class => "btn_like"%>
      <%= link_to image_tag('comentar.png', :class => "btn_comment"), picture_path(picture) %>
      <%= image_tag 'ctwitter.png', :class => "btn_twitter"%>
      <%= image_tag 'cfacebook.png', :class => "btn_facebook"%>
    </div>

    <% end %>
    <%= link_to image_tag(picture.imagen.url), picture_path(picture)%>
    <div class="overlay bottom">
      <div class="titulo"><%=picture.titulo%></div>
      
      <div class="autor">
      <% if picture.user_id %>
        <% begin %>
          <%=User.find(picture.user_id).nombre %>
        <% rescue %>
        <% end %>
      <% else %>
        Admin
      <% end %>
      </div>
    </div>
    <% if user_signed_in? %>
      <% voto = Voto.where(:picture_id => picture.id, :user_id => current_user.id).first%>
      <div class="rating <%=(voto.nil?)? "" : "voted" %>" data-id="<%=picture.id%>">
        <%
        if !voto.nil?
          for i in 1..voto.valor
            %><div class="star vote" data-value="<%=i%>"></div><%
          end
          for i in voto.valor...5
            %><div class="star" data-value="<%=i%>"></div><%
          end
        else
          for i in 1..5
            %><div class="star" data-value="<%=i%>"></div><%
          end
        end
        %>
      </div>
    <% end %>
  </div>
  <div class="caption">
    <div class="comments pull-left">
      <span class="like-count">
        <i class="heart"></i><%=picture.likers.count%></span>
      
      / 
      <% if user_signed_in? %>
      <a href="<%=picture_path(picture)%>" class="comment-count" data-id="<%=picture.id%>" data-total="<%=picture.comments.count%>">
      <% end %>
        <i class="comment"></i><%=picture.comments.count%>
      <% if user_signed_in? %>
      </a>
      <% end %>
    </div>
    <div class="votos pull-right">
     <% total = picture.votos.count
      promedio = Picture.promedio_votos(picture.id)
      nota = promedio.round
      for i in 1..nota
        %><div class="mini-star"></div><%
      end
      for i in nota...5
        %><div class="mini-star2"></div><%
      end
        %>
        
        <div class="votos_result">
        
        <%= promedio %> 
        / 
        <%= total %>
        </div>
    </div>
  </div>
</div>