<div id="page">
    <section id="main">
        <div class="group">
           <div id="box-container">
                <div id="entry-listing" class="group" style="display:none">
                    
                    <%
                    @resources.each do |resource|
                        %>
                    <article id="<%=resource.id%>" class="post-1 category-blog-posts entry box format-video">
                        <div class="entry-content-cnt">
                            <div class="entry-content">
                                <div class="zoomOverlay"></div>
                                    <img src="<%=resource.imagen.url(:medium)%>" class="attachment-ci_listing_thumb" alt="Dandoo" title="Dandoo" >
                                    <%if resource.type=='video' %>
                                        <%=image_tag 'play_03.png' , :class => 'play_image'%>
                                    <% end %>
                            </div>
                        </div>

                        <div class="entry-desc">
                            <h1><a href="#" title="Titulo"><%=resource.titulo%></a></h1>
                            <div class="entry-meta group">
                             <a class="comments-no" href="#"><%=resource.comments.count%></a> 
                             <a data-post-id="213" class="heart-this loved" href="#" title="Me gusta">
                             <span class="heart-no"><%=Resource.promedio_votos(resource.id).round %> / <%=resource. votos.count%>  Votos</span></a>
                            </div>
                        </div>
                    </article>
                    <% end %>
                </div><!-- #entry-listing -->
                
           </div><!-- #box-container-->
        </div><!-- group -->
    </section><!--  #main -->
</div><!-- #page -->