
    <style type="text/css">
        ul.menu li:nth-child(<%=child%>){
            text-decoration: underline;
        }
        <%if !user_signed_in? %>
        .menu{
            margin-left:30%;
            top:-30px;
            position:relative;
        }
        <% end %>
    </style> 
    <div class="mensajeB"><h1>Comenta, rankea y comparte la mejor publicidad </h1></div>
    <ul class="menu">
        <li >
            <a href="<%=root_path%>">Los mejores
                <span class="notificacion rojo"><%=@votados%></span>
            </a>
        </li>
        <li>
            <a href="/comentados">Los más comentados
                <span class="notificacion amarillo"><%=@comentados%></span>
            </a>
        </li>
        <li>
            <a href="/nuevos">Nuevos
                <span class="notificacion azul"><%=@nuevos%></span>
            </a>
        </li>     
        <% if user_signed_in? %>
        <li>
            <a href="/mis_contenidos">Mi contenido</a>
        </li>     
        <% end%>
        <li>
            <a href="/todos">Todos</a>
        </li>     
    </ul>