 <%= javascript_include_tag "home" %>
<div class="row" style="border-bottom:1px #DDDDDD solid;margin-top:15px;marign-bottom:10px">
	<div class="span12">
	Home
	</div>
</div> 


<div class="row" id="content" style="position:relative;padding-top:6px">
	<% 
	count = 1
	@pictures.each do |picture| 
		if count == 1
			%>
			<div class="row" style="margin-left:-3%;">
			<%
		end
	%>
			<div class="span3 imagen">
				<div class="well span3" id="<%=picture.id%>">
					<div class="row titulo">
						<div class="span3">
							
									<%=picture.titulo%>
								
								<% nickname = (picture.user_id.nil?) ? "" : User.find(picture.user_id).nickname %>
								<!-- Permite Like con Facebook -->
								<div class="fb-like" data-href="http://<%=request.host%><%=picture_path(picture)%>" data-send="true" data-layout="button_count" data-width="450" data-show-faces="false" data-font="arial"></div>

								
								<!-- Permite compartir en Twitter -->
							
								<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://<%=request.host%><%=picture_path(picture)%>" data-text="<%=picture.titulo%> por <%=nickname%>" data-via="Dandootv" data-lang="es" data-related="Dandootv">Twittear</a>
								<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

	
						</div>
					</div>
					<%=link_to image_tag(picture.imagen.url(:large),:class => "img-rounded"), picture%>
					<div class="row">
						<div class="span3 votos" >
							<icon class="icon-star"></icon>
							<icon class="icon-star"></icon>
							<icon class="icon-star"></icon>
							<icon class="icon-star"></icon>
							<icon class="icon-star"></icon>
						</div>
					</div>
					<div class="row">
						<div class="span1 pull-left">
						<a href="#" class="likes" data-id="<%=picture.id%>">
							<i class="icon-heart" ></i><%=picture.likers.count%>
						</a>
						/ 
						<a href="#" class="comments" data-id="<%=picture.id%>" data-total="<%=picture.comments.count%>">
							<icon class="icon-comment"></icon><%=picture.comments.count%>
						</a>
						</div>

						<div class="span1 pull-right" style="text-align:right">
						<icon class="icon-star"></icon>3.4
						</div>
					</div>
					<div class="row">
						<div class="span3 divider"></div>
					</div>
					<div class="row">
						<% if picture.user_id? %>
							<div class="span1 pull-left">
								<%=image_tag(User.find(picture.user_id).avatar.url(:thumb),:class => "thumb")%>
							</div>
							<div class="span2 pull-right descripcion">
								<%=picture.descripcion%>
							</div>
						<% else %>
						
						<div class="span2 descripcion pull-right">
							<%=picture.descripcion%>
						</div>
						<% end %>
					</div>
					<div class="row">
						<div class="span3 divider"></div>
					</div>
					<!--- COMENTARIOS -->
					<div class="row comment-list">
						<div class="span3">
							<div class="row" style="border-bottom:1px #DDDDDD solid;font-size:9px;">
								<div class="span3">
									<a href="/comments/<%=picture.id%>" data-id="<%=picture.id%>" class="ver-comentarios" data-remote="true">Ver todos los comentarios</a>
								</div>
							</div>
							<div class="listado">
							<% picture.comments.limit(2).order_by([[:created_at,:desc]]).reverse.each do |comentario| %>
								<div class="row comentario">
									<div class="span1 user-thumb">
										<%=image_tag(User.find(comentario.user_id).avatar.url(:thumb),:class => "thumb")%>
									</div>
									<div class="span2 user-comment" style="height:auto">
										<strong><%=User.find(comentario.user_id).nickname %>:  </strong> <%= comentario.contenido %>
									</div>
								</div>
								<div class="row">
									<div class="span3 divider"></div>
								</div>
							<% end %>
							</div>
							<div class="comment-container"></div>

							<div class="row comentario new">
								<div class="span3">
									<% comment = Comment.new %>
									<%= form_for comment, :remote => true,:html => {:class => 'form form-horizontal'} do |f| %>
									<div class="control-group">
										<label for="comment_contenido" style="width:32px;" class="pull-left">
											<%=image_tag(current_user.avatar.url(:thumb),:class => "thumb")%>
										</label>
										<div class="controls" style="margin-left:60px">
											<%=f.text_area :contenido,:maxlength => 140,:required => true,:placeholder => 'Escribe un comentario...',:rows => '1'%>
											<input type="hidden" name="comment[picture_id]" id="comment_picture_id" value="<%=picture.id%>" />
										</div>
									</div>
									<% end %>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		<% if count == 4 %>
		</div> 
		<% 
		count = 1
		else
			count = count +1
		end 	
		 %>
			
	<% end %>		
</div>


  
