<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <title>Dandoo - La primera red social de publicidad</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <%= csrf_meta_tags %>

    <meta property="og:title" content="Dandoo.tv - La primera red social de publicidad" />
    <meta property="og:type" content="company" />
    <meta property="og:site_name" content="Dandoo.tv" />
    <meta property="og:url" content="http://dandoo.tv" />
    <meta property="og:image" content="http://dandoo.tv/assets/logo.png" />
    <meta property="og:description" content="Dandoo.tv es la primera red social de Publicidad. Basados en Neurociencias Perceptivas desarrollamos interfaces capaces de llevar la interacción entre marca y usuario target al siguiente nivel." />
    <link rel="icon" 
      type="image/ico" 
      href="/assets/favicon.ico" />

    <%= stylesheet_link_tag    "application", :media => "all" %>
    <style type="text/css">
    
    #slideshow{
      left: 0px; 
      top: 0px; 
      position: fixed; 
      overflow: hidden; 
      z-index: -999999; 
      margin: 0px; 
      padding: 0px; 
      height: 100%; 
      width: 100%
    }
    img.full-screen-background-image {
      position: absolute;
      margin: 0px;
      padding: 0px; 
      border: none; 
      z-index: -999999; 
      max-width: none; 
      width: 100%; 
      height: 100%; 
      left: 0px; 
      top: 0;
    }
    div.invitacion{
      color:white;
    }
    div.mail, div.invitacion{
      height:43px !important;
      position: relative;
    }



    #modal{
      opacity:0;
      position:fixed;
      top:0;
      left:34%;
      width:400px;
      height:200px;
      background: rgba(55,255,255);
      background:rgba(155,155,155,0.8);
      -webkit-border-radius: 10px; 
      border-radius: 10px; 
      -moz-border-radius: 10px;
      -webkit-box-shadow: 0px 3px 6px -2px rgba(68, 68, 68, 0.5);
      -moz-box-shadow:    0px 3px 6px -2px rgba(68, 68, 68, 0.5);
      box-shadow:         0px 3px 6px -2px rgba(68, 68, 68, 0.5);
      behavior:url(PIE.htc);
    }

    #recaptcha_area{
        margin: 0 auto !important;
        position: relative !important;
        top: 30px !important; 
        left: 0 !important;
    }
    body{
      margin:0;
      overflow:hidden;
    }


    #sidebar .span3{
      top:0;
      left:0;
      position:fixed;
      height:100%;
    }
    #contenido{
      position: relative;
      height:100% !important;
      color:white;
      margin-top:0px;
      padding: 30px 10px 0 5px;
      width:200px !important;
      background:rgba(0,0,0);
      background:rgba(0,0,0,0.8);
      behavior:url(PIE.htc);
    }

    input{
      background: white !important;
      margin-left:0px !important;
      position:relative;
      width:200px !important;
    }

    .buttons{
      margin-left:10px;
    }

    .buttons img{
      margin-left:10px;
    }

    .texto{
      color:white;
      font-size:11px;
      width:200px;
      text-align: justify;
      margin-top:10px;
    }

    .texto2{
      width:200px;
      color:white;
      font-size:13px;
      text-align: left;
    }
    #footer{
      position: absolute;
      bottom:10px;
      left:250px;
      color:white;
      font-size:0.8em;
    }
    </style>
  </head>
  <body>
    <div id="slideshow">

    </div> 
    <div class="container-fluid" id="sidebar">
      <div class="row-fluid">
        <div class="span3">
          <div id="contenido">
            <%= image_tag "landings/logo.png" %>
            <%= image_tag "landings/bajada.png" %>
            <%= image_tag "landings/p1.png" %>
            <%= image_tag "landings/p2.png" %>
            <%= image_tag "landings/p3.png" %>
            
            <div class="mail">
              <%=semantic_form_for(@email,:class=>'form',:remote => true) do |f| %>
              <%=f.email_field :email, :class =>'span2',:placeholder => 'Ingresa tu dirección de email' %>
              <%=f.hidden_field :ip %>
              <div id="modal">
                <div id="recaptcha"></div>
              </div>
              <% end %>
            </div>
            <div class="invitacion" style="display:none">
              <span style="font-size:14px;"></span>
            </div>
            
            <a href="https://twitter.com/share?url=http://www.dandoo.tv&text=Dandoo.tv: La primera red social de publicidad en el mundo.Mira, Decide, Gana&via=Dandootv&lang=es&related=Dandootv&count=none&hashtags=#Dandoo" target="_blank" style="z-index:2000">
            <%= image_tag "landings/comparte_tw.png" %>
            </a>
            <a href="https://www.facebook.com/dialog/feed?app_id=<%=ENV['FACEBOOK_KEY']%>&link=http://www.dandoo.tv&resource=/assets/logo.png&name=Dandoo.tv&caption=Dandoo.tv&description=La primera red social de publicidad en el mundo.Mira, Decide, Gana&redirect_uri=http://www.dandoo.tv" target="_blank">
            <%= image_tag "landings/comparte_fb.png" %>
            </a>

            <!--<div class="buttons">
            <%= image_tag "landings/1.png" %>
            <%= image_tag "landings/2.png" %>
            <%= image_tag "landings/3.png" %>
            </div>  
            <p class="texto">
              Las marcas pagan (y mucho) para que los
              usuarios miremos su mala publicidad. Ayer
              dimos millones a Fb y Gg. Mañana Dandoo los
              devolverá a sus usuarios
            </p>
            <p class="texto2">
              Queremos publicidad que busque encantarnos y no invadirnos
            </p>-->
	    <p>
            Dudas..? <a href="mailto:soporte@dandoo.tv">soporte@dandoo.tv</a>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div id="footer">
      
    </div>

    
    

    

   <%= javascript_include_tag "jquery"%>     
   <script type="text/javascript" src="http://www.google.com/recaptcha/api/js/recaptcha_ajax.js"></script>
   <script type="text/javascript" src="https://raw.github.com/srobbin/jquery-backstretch/master/jquery.backstretch.min.js"></script>
   
   <script type="text/javascript">
   $(document).ready(function(){

    
     Recaptcha.create("<%=ENV['RECAPTCHA_PUBLIC']%>",
      "recaptcha",
      {
        theme: "red",
        callback: Recaptcha.focus_response_field
      }
    );

    $.fn.preload = function() {
        this.each(function(k,img){
            $.get(img);
        });
    }
 
    shuffle = function(o){ //v1.0
      for(var j, x, i = o.length; i; j = parseInt(Math.random() * i), x = o[--i], o[i] = o[j], o[j] = x);
      return o;
    };

    

    var imagenes = [
        "/assets/landings/landing0.jpeg",
        "/assets/landings/landing1.jpeg",
        "/assets/landings/landing2.jpeg",
        "/assets/landings/landing3.jpeg",
        "/assets/landings/landing4.jpeg",
        "/assets/landings/landing5.jpeg",
        "/assets/landings/landing6.jpeg",
        "/assets/landings/landing7.jpeg",
        "/assets/landings/landing8.jpeg",
        "/assets/landings/landing9.jpeg",
         "/assets/landings/landing10.jpeg",
    ];
    imagenes = shuffle(imagenes);
    $(imagenes).preload();
    
    $('body').backstretch(imagenes, {duration: 9000, fade: 750});
    
    

    var copyrights = [];
    copyrights[0] = {texto:"© Bosch Electric Screwdriver by Jung von Matt:Elbe Werbeagentur GmbH ® Hamburg, Germany",color:"black"};
    copyrights[1] = {texto:"© CNN Obama by Ddb&co ® Istanbul, Turke",color:"white"};
    copyrights[2] = {texto:"© Hotels B&B by Publicis ® Frankfurt, Germany",color:"black"};
    copyrights[3] = {texto:"© Mr Curtains by Ogilvy & Mather ® Bangkok, Thailand",color:"white"};
    copyrights[4] = {texto:"© OlympusFocus by Diamond Ogilvy ® Seoul, Korea",color:"black"};
    copyrights[5] = {texto:"© Prudence Neon Condoms by Z+ Comunicação ® São Paulo, Brazil",color:"white"};
    copyrights[6] = {texto:"© Softwares-sli.com by Bates141 ® International",color:"black"};
    copyrights[7] = {texto:"© Sony Micro Vault by Promoseven ® Dubai",color:"black"};
    copyrights[8] = {texto:"© Confort Santher by Talent ® Sao Paulo, Brazil",color:"white"};
    copyrights[9] = {texto:"© Penalty T-shirt by Z ® Brazil",color:"white"};
    copyrights[10] = {texto:"© GoodYear by Y&R ® Sao Paulo, Brazil",color:"white"};
    
    $('body').on('backstretch.show',function(){
      var img = $('body .backstretch img')
      var src = img.attr('src');
      src     = src.split('.')[0].split('/')[3].split('landing')[1];
      $('#footer').html(copyrights[src].texto).css({color:copyrights[src].color});
      
    });

    $.fn.serializeObject = function() {
      if ( this.length < 1) { 
          return false; 
        }

        var $el = this;
        var data = {};
        var lookup = data; //current reference of data

        $el.find( ':input[type!="checkbox"][type!="radio"], input:checked' ).each( function() {
          // data[a][b] becomes [ data, a, b ]
          var named = this.name.replace(/\[([^\]]+)?\]/g, ',$1').split(',');
          var cap = named.length - 1;

          // Ensure that only elements with valid `name` properties will be serialized
          if ( named[ 0 ] ) {
            for ( var i = 0; i < cap; i++ ) {
                // move down the tree - create objects or array if necessary
                lookup = lookup[ named[i] ] = lookup[ named[i] ] ||
                    ( named[ i + 1 ] === "" ? [] : {} );
            }

            // at the end, push or assign the value
            if ( lookup.length !==  undefined ) {
                 lookup.push( $( this ).val() );
            }else {
                  lookup[ named[ cap ] ]  = $( this ).val();
            }

            // assign the reference back to root
            lookup = data;
          }
        });

        return data;
    };

    
      $('#recaptcha_response_field').live('keydown',function(e){
        if(e.which == 13){
          e.preventDefault()
          e.stopPropagation()
          action = $('form').attr('action')
          data   = $('form').serializeObject()

          $.post(action,data,function(resp){
            var html = '', repetir=false;
            if(resp.success === 'repeat'){
              html = "Ya estabas registrado para recibir invitaciones.. Ya estamos en camino!";
            }else if(resp.success === true){
              html = "Pronto recibiras una invitación para participar... Ya estamos en camino!";
            }else if(resp.success === 'recaptcha'){
              html = "Comprueba tu humanidad completando correctamente el código proporcionado.";
              repetir = true;
            }else{
              html = "El email ingresado parece no ser válido. Intenta nuevamente.!"
              repetir = true;
            }
            $('.invitacion span').html(html);
            $('div.mail').fadeOut('fast',function(){
              $('.invitacion').fadeIn('slow',function(){
                if(repetir === true){
                  setTimeout(function(){
                    $('.invitacion').fadeOut('fast',function(){
                      $('#modal').css({'opacity':'0'});
                      $('div.mail').fadeIn('fast',function(){
                        $('#email_email').removeAttr('disabled').focus()
                        Recaptcha.reload();
                      });
                    })
                  },2400);
                }else{
                  $('div.mail').remove();  
                }
                
              });
            });
          });
        }
      });

      $('input').keydown(function(e){
        
        if(e.which == 13){
          e.preventDefault()
          e.stopPropagation()
          
          $('#modal').animate({'top':'40%','opacity':1},function(){
            $('#email_email').attr('disabled','disabled');
            $('#recaptcha_response_field').focus();
          });



          
        }
      });
      
   });   
   
   </script>
   <script>
    var _gaq=[['_setAccount','UA-35427461-2'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>
  </body>
</html>
