<!DOCTYPE html>
<html>
  <head>
    <title>Dandoo - La primera red social de publicidad</title>

    <%= csrf_meta_tags %>

    <meta name="google-site-verification" content="kD2sMFnQ4VfcHlZMKG9u7Glug38BobmH-97IVSUNJx4" />

    <script>
    var _gaq=[['_setAccount','UA-35427461-2'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>

    <link rel="icon" 
      type="image/ico" 
      href="/assets/favicon.ico" />

    <meta property="og:title" content="Dandoo.tv - La primera red social de publicidad" />
    <meta property="og:type" content="company" />
    <meta property="og:site_name" content="Dandoo.tv" />
    <meta property="og:url" content="http://dandoo.tv" />
    <meta property="og:image" content="http://dandoo.tv/assets/logo.png" />
    <meta property="og:description" content="Dandoo.tv es la primera red social de Publicidad. Basados en Neurociencias Perceptivas desarrollamos interfaces capaces de llevar la interacción entre marca y usuario target al siguiente nivel." />

    <%= stylesheet_link_tag    "application", :media => "all" %>
    <style type="text/css">
    @font-face {
        font-family: 'FBold';
        src: url('assets/fonts/liberationsans-bold-webfont.eot');
        src: url('assets/fonts/liberationsans-bold-webfont.eot?#iefix') format('embedded-opentype'),
             url('assets/fonts/liberationsans-bold-webfont.woff') format('woff'),
             url('assets/fonts/liberationsans-bold-webfont.ttf') format('truetype'),
             url('assets/fonts/liberationsans-bold-webfont.svg#liberation_sansbold') format('svg');
        font-weight: normal;
        font-style: normal;

    }

    @font-face {
        font-family: 'FRegular';
        src: url('assets/fonts/liberationsans-regular-webfont.eot');
        src: url('assets/fonts/liberationsans-regular-webfont.eot?#iefix') format('embedded-opentype'),
             url('assets/fonts/liberationsans-regular-webfont.woff') format('woff'),
             url('assets/fonts/liberationsans-regular-webfont.ttf') format('truetype'),
             url('assets/fonts/liberationsans-regular-webfont.svg#liberation_sansregular') format('svg');
        font-weight: normal;
        font-style: normal;

    }
    html, body {
      height: 100%;
      width: 100%;
      padding: 0;
      margin: 0;
    }

    

    #wrapper {
      position: relative;
      width: 200px;
      min-height: 600px;
      height: 90%;
      margin: 20px 60px;
      color: white;
      float:right;
      background-color:rgba(0,0,0,0.68);
      behavior:'PIE.htc';
      padding:30px 10px 10px 10px;
      z-index:99;
    }

    .up{
      font-size:35px;
      font-family: 'FBold',sans-serif, Helvetica;
      font-weight: bold;
      text-align: center;
    }
    .titulo{
      font-size:25px;
      font-family: 'FBold',sans-serif, Helvetica;
      font-weight: bold; 
      text-align: justify;
    }
    #wrapper .body{
      font-size:12px;
      text-align: justify;
      font-family: 'FRegular',sans-serif, Helvetica;
    }
    body {
      background: black url('/assets/landings/landing2.jpg') top!important;
      background-size: contain;
    }
    #slideshow, img.full-screen-background-image {
        min-height: 100%;
        min-width: 1024px;
        width: 100%;
        /*height: auto;*/
        position: fixed;
        top: 0;
        left: 0;
        z-index:-9999;
    }

    #slideshow img { display: none }
    /*#slideshow img.first, #slideshow:first-child { display: block }*/

    #footer{
      font-size:8px;
      color:white;
      position:absolute;
      bottom:2px;
      left:2px;
      z-index:90;
    }

    div.mail, div.invitacion{
      height:63px !important;
      position: relative;
    }

    #modal{
      opacity:0;
      position:fixed;
      top:0;
      left:34%;
      width:400px;
      height:200px;
      background: rgba(55,255,255);
      background:rgba(155,155,155,0.8);
      -webkit-border-radius: 10px; /* Safari 3-4, iOS 1-3.2, Android ≤1.6 */
      border-radius: 10px; /* Opera 10.5, IE9+, Safari 5, Chrome,  Firefox 4+, iOS 4, Android 2.1+ */
      -moz-border-radius: 10px;
      -webkit-box-shadow: 0px 3px 6px -2px rgba(68, 68, 68, 0.5);
      -moz-box-shadow:    0px 3px 6px -2px rgba(68, 68, 68, 0.5);
      box-shadow:         0px 3px 6px -2px rgba(68, 68, 68, 0.5);
      behavior:url(PIE.htc);
    }

    #recaptcha_area{
        margin: 0 auto !important;
        position: relative !important;
        top: 30px !important; 
        left: 0 !important;
    }
    </style>
  </head>
  <body>
    <div id="slideshow">
    <%
    
    landings = Array.new
    landings[0] = {:imagen => "landings/landing1.jpg",:alt => "Revista Cañamo by B&L Comunicaciones ® Chile",:color => 'white'}
    landings[1] = {:imagen => "landings/landing2.jpg",:alt => "©Ô Fiô Bier Bar by Dim'canzian'facci ® Sao Paulo",:color => '#333333'}
    landings[2] = {:imagen => "landings/landing3.jpg",:alt => "©Odis by Ogilvy&Mather ® Chile",:color => 'white'}
    landings[3] = {:imagen => "landings/landing4.jpg",:alt => "Prudence NEon Condoms by Z+ Comunicação ® São Paulo",:color => 'white'}
    landings[4] = {:imagen => "landings/landing6.jpg",:alt => "©VTR by Grey ® Chile",:color => 'white'}
    landings    = landings.shuffle
    landings.each do |land| %>
      <%=image_tag land[:imagen],:alt => land[:alt],:data_color => land[:color], :class => 'full-screen-background- image' %>
    <%
    end
    %>
    </div>
    <div id="wrapper">
      <span class="titulo">
        <span class="up">¡SÚMATE</span><br />
        a la Primera RED SOCIAL de Publicidad DEL MUNDO!
      </span>
      <br/>
      <span class="body">
        Acá podrás ver, comentar y compartir los mejores videos publicitarios de miles de marcas alrededor del planeta. Los usuarios podrán puntuar cada video y así elegir en conjunto los videos más divertidos, sorprendentes y magistrales de la historia. Evaluar y comentar los recursos en HD y subtitulados. Disfrutar del arte de la publicidad de todos los rincones del mundo, desde Chile a Kazakhastan.
      </span>
      <br />
      <br />
      <div class="mail">
      <span style="font-size:14px;">Ingresa tu dirección de e-mail:</span>
      <%=semantic_form_for(@email,:remote => true,:html =>{:class=>'form'}) do |f| %>
      <%=f.email_field :email, :style => "width:185px !important" %>
      <%=f.hidden_field :ip %>
      <div id="modal">
        <div id="#recaptcha"></div>
      </div>
      <% end %>
      </div>
      <div class="invitacion" style="display:none">
        <span style="font-size:14px;"></span>
      </div>
      

      <a href="https://twitter.com/share?url=http://www.dandoo.tv&text=Participa junto a mi de la primera red social de publicidad en el mundo&via=Dandootv&lang=es&related=Dandootv&count=none&hashtags=#Dandoo" target="_blank">
      <%=image_tag "landings/comparte_tw.png" ,:style => 'cursor:pointer'%>
      </a>
      <a href="https://www.facebook.com/dialog/feed?app_id=<%=ENV['FACEBOOK_KEY']%>&link=http://www.dandoo.tv&resource=http://www.dandoo.tv/assets/landings/logo.png&name=Dandoo.tv&caption=Dandoo.tv&description=Participa junto a mi de la primera red social de publicidad en el mundo&redirect_uri=http://www.dandoo.tv" target="_blank">
      <%=image_tag "landings/comparte_fb.png" ,:style => 'cursor:pointer'%>
      </a>
      <%=image_tag "landings/logo.png" %>
      <br />
      <div style="position:relative;left:20px">
        <%=image_tag "landings/1.png",:style => 'position:absolute;top:3px;left:0px;'%>
        <%=image_tag "landings/2.png",:style => 'position:absolute;top:3px;left:52px;'%>
        <%=image_tag "landings/3.png",:style => 'position:absolute;top:3px;left:104px;'%>
      </div>
      <div style="position:absolute;bottom:10px;left:15px;">
        Dudas? <a href="mailto:soporte@dandoo.tv">soporte@dandoo.tv</a>
      </div>
    </div>
    <div id="footer">
    </div>

    

   <%= javascript_include_tag "jquery"%>     
   <script type="text/javascript" src="http://malsup.github.com/jquery.cycle.all.js"></script>
   <script type="text/javascript" src="http://www.google.com/recaptcha/api/js/recaptcha_ajax.js"></script>
   <script type="text/javascript">
   $(document).ready(function(){

    Recaptcha.create("<%=ENV['RECAPTCHA_PUBLIC']%>",
      "#recaptcha",
      {
        theme: "red",
        callback: Recaptcha.focus_response_field
      }
    );

    $.fn.serializeObject = function() {
      if ( this.length < 1) { 
          return false; 
        }

        var $el = this;
        var data = {};
        var lookup = data; //current reference of data

        $el.find( ':input[type!="checkbox"][type!="radio"], input:checked' ).each( function() {
          // data[a][b] becomes [ data, a, b ]
          var named = this.name.replace(/\[([^\]]+)?\]/g, ',$1').split(',');
          var cap = named.length - 1;

          // Ensure that only elements with valid `name` properties will be serialized
          if ( named[ 0 ] ) {
            for ( var i = 0; i < cap; i++ ) {
                // move down the tree - create objects or array if necessary
                lookup = lookup[ named[i] ] = lookup[ named[i] ] ||
                    ( named[ i + 1 ] === "" ? [] : {} );
            }

            // at the end, push or assign the value
            if ( lookup.length !==  undefined ) {
                 lookup.push( $( this ).val() );
            }else {
                  lookup[ named[ cap ] ]  = $( this ).val();
            }

            // assign the reference back to root
            lookup = data;
          }
        });

        return data;
    };


    $('#slideshow img:first').fadeIn('fast',function(){
        $('#slideshow').cycle({
          fx: 'fade',
          pager: '#smallnav', 
          pause:   1, 
          speed: 1800,
          timeout:  3000,
          after:function(){

            $('#footer').css({'color':$(this).attr('data_color')})
            .html(this.alt);
          }
        }); 
    });
    
      $('#recaptcha_response_field').live('keydown',function(e){
        if(e.which == 13){
          e.preventDefault()
          e.stopPropagation()
          action = $('form').attr('action')
          data   = $('form').serializeObject()

          $.post(action,data,function(resp){
            var html = '', repetir=false;
            if(resp.success === 'repeat'){
              html = "Ya estabas registrado para recibir invitaciones.. Ya estamos en camino!";
            }else if(resp.success === true){
              html = "Pronto recibiras una invitación para participar... Ya estamos en camino!";
            }else if(resp.success === 'recaptcha'){
              html = "Comprueba tu humanidad completando correctamente el código proporcionado.";
              repetir = true;
            }else{
              html = "El email ingresado parece no ser válido. Intenta nuevamente.!"
              repetir = true;
            }
            $('.invitacion span').html(html);
            $('div.mail').fadeOut('fast',function(){
              $('.invitacion').fadeIn('slow',function(){
                if(repetir === true){
                  setTimeout(function(){
                    $('.invitacion').fadeOut('fast',function(){
                      $('#modal').css({'opacity':'0'});
                      $('div.mail').fadeIn('fast',function(){
                        $('#email_email').removeAttr('disabled').focus()
                        Recaptcha.reload();
                      });
                    })
                  },2400);
                }else{
                  $('div.mail').remove();  
                }
                
              });
            });
          });
        }
      });

      $('input').keydown(function(e){
        if(e.which == 13){
          e.preventDefault()
          e.stopPropagation()
          
          $('#modal').animate({'top':'40%','opacity':1},function(){
            $('#email_email').attr('disabled','disabled');
            $('#recaptcha_response_field').focus();
          });



          
        }
      });
      
   });   
   
   </script>
  </body>
</html>