
{{#each resources}}
	<div class="item" id="{{this.id}}">
		<div class="holder">
			<div class="image_holder">
				{{#compare this.type "video"}}
					<img src="play_button.png" class="play_button" width="64" height="64" alt="Play" />
				{{/compare}}
				{{! OVERLAY}}
				{{> _resources_overlay}}
				{{! FIN OVERLAY}}
				<a href="/resources/visor/{{this.id}}" class="resource">
					{{#compare this.type "imagen"}}
					 <img src="{{this.imagen}}" class="resource" width="333" height="250" />
					 {{else}}
					 <img src="{{this.thumbnail}}" class="resource" width="333" height="250" />
					 {{/compare}}
				 </a>
			</div>{{!image_holder}}
			{{! RATING CONTAINER }}
			{{#if this.signed_in}}
				<div class="rating {{this.voto_style}}" data-id="{{this.id}}">
					{{#if voto}}
						{{#iter 1 voto_valor}}
							<div class="star vote" data-value="{{i}}"></div>
						{{/iter}}

						{{#iter voto_valor 5}}
							<div class="star" data-value="{{i}}"></div>
						{{/iter}}
					{{else}}
						{{#iter 1 5}}
							<div class="star" data-value="{{i}}"></div>
						{{/iter}}
					{{/if}}
				</div>
			{{/if}}
			{{! END RATING CONTAINER }}
			<div class="separador"></div>
		</div>{{! FIN HOLDER}}
		{{! BOTONERA}}
		{{> _resources_botonera}}
		{{! FIN BOTONERA}}

		<div class="separador"></div>
		<div class="flecha_desplegar"></div>
		<div class="separador"></div>

		<div class="extra">
			{{! DESCRIPCION}}
			{{> _resources_descripcion}}
			{{! FIN DESCRIPCION}}

			{{! COMENTARIOS}}
			<div class="comentarios">
				<div class="comentarios_nuevos">
					
				{{> _comentarios_comentarios}}
					
				</div>

				{{#if this.signed_in}}
				<div class="fila">
					<div class="thumb">
						<img src="{{current_user_avatar}}" width="32" height="32" class="img-rounded thumb"/>
					</div>
					<div class="desc">
						<div class="autor">
							{{current_user_nickname}}
						</div>
						<input type="text" class="span3 comentar" data-id="{{this.id}}" placeholder="Ingresa tu comentario" maxlength="140">
					</div>
				</div>
				{{/if}}
			</div>{{! FIN COMENTARIOS}}

		</div>{{! FIN EXTRA}}
	</div>{{! FIN ITEM}}
{{/each}}