<% if user_signed_in? %>
<div class="botonera span2" data-id="<%=@picture.id%>" >
	<%= image_tag 'like.png', :class => "btn_like"%>
		<a href="https://twitter.com/share" data-text="<%=@picture.titulo%>" data-via="Dandootv" data-lang="es" data-related="Dandootv" data-count="none"><%=image_tag 'ctwitter.png',:class => 'btn_twitter' %></a>
	<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

	<a href="https://www.facebook.com/dialog/feed?app_id=487202541299703&link=<%="#{request.protocol}#{request.host_with_port}#{request.fullpath}"%>&picture=<%=@picture.imagen.url(:medium)%>&name=<%=@picture.titulo%>&caption=Dandoo.tv&description=<%=@picture.descripcion%>&redirect_uri=<%="#{request.protocol}#{request.host_with_port}#{request.fullpath}"%>">
  	<%= image_tag 'cfacebook.png', :class => "btn_facebook"%>
  </a>
</div>

<%
voto = Voto.where(:picture_id => @picture.id, :user_id => current_user.id).first
%>
<div class="span2 <%=(voto.nil?)? '' : "voted" %>" data-id="<%=@picture.id%>">
	<%
	if !voto.nil?
		for i in 1..voto.valor
			%><div class="star vote" data-value="<%=i%>"></div><%
		end
		for i in voto.valor...5
			%><div class="star" data-value="<%=i%>"></div><%
		end
	else
		for i in 1..5
			%><div class="star" data-value="<%=i%>"></div><%
		end
	end
	%>
</div>
<div class="span2" style="position:absolute;right:0">
	  <% total = @picture.votos.count
	  promedio = Picture.promedio_votos(@picture.id)
	  nota = promedio.round
	  for i in 1..nota
	  	%><div class="mini-star"></div><%
	  end
	  for i in nota...5
	  	%><div class="mini-star2"></div><%
	  end
      %>
      
      <div id="votos_result">
      
      <%= promedio %>	
      / 
      <%= total %>
  	</div>
</div>
<% end %>