<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @auth.user_id %>
</p>

<p>
  <b>Provider:</b>
  <%= @auth.provider %>
</p>

<p>
  <b>Uid:</b>
  <%= @auth.uid %>
</p>


<%= link_to 'Edit', edit_auth_path(@auth) %> |
<%= link_to 'Back', auths_path %>
