<div class="well span11" style="height: 230px" >
	<div class="span9">
  <h3>Videos Destacados:</h3>
	<ul id="roundabout" style="width: 780px" >
    	<li>
    		<a href="#">
    		<%= image_tag 'square.png' %>
			  &nbsp;&nbsp;Título 1
    		</a>
    	</li> 
      <li>
      </li> 
    	<li>
    		<a href="#">
    		<%= image_tag 'square.png' %>
    		&nbsp;&nbsp;Título 2
    		</a>
    	</li>
      <% current_user.user_experiment_videos.where(:succeded => 0).all.each do |x| %>
        <% if x.video %>
          <li>
            <a href="<%= show_video_path(x.id) %>">
            <%= image_tag x.video.preview.url %>
            &nbsp;&nbsp;<%= x.video.name %>
          </li>
        <% end %>
      <% end %>
    </ul>
    <br>
    <a href="#" class="next btn btn-info" style="margin-left: -20px"><-</a>
    <a href="#" class="prev btn btn-info pull-right" style="margin-right: -140px">-></a>
	</div>
</div>
<div class="well span11" style="height: auto" >
<h3>Otros Videos Para Ti:</h3>
  <% current_user.user_experiment_videos.where('succeded != ?', 0).last(9).each do |x| %>
        <% if x.video %>
          <div class="span2 well" style="height: 200px" >
            <a href="<%= show_video_path(x.id) %>" class="fancybox" >
            <%= image_tag x.video.preview.url, :class => 'preview'  %>
            &nbsp;&nbsp;<%= x.video.name %>
            </a>
          </div>
        <% end %>
  <% end %>
  <% (16-current_user.user_experiment_videos.first(9).count).times do %>
  <div class="span2 well" style="height: 200px" >
    <br><br><br><br><br><br><br><br><br>
  </div>
  <% end %>
  <div class="row" >&nbsp;</div>
  

  
</div>

<%= javascript_include_tag "fancybox" %>

<script language="javascript" type="text/javascript">
    
    $(document).ready(function() {
      

		$('#roundabout').roundabout({
         duration: 700,
         autoplay: true,
         autoplayDuration: 10000,
         btnNext: ".next",
         btnPrev: ".prev"
      	});



    $('.fancybox').fancybox({
        'opacity'   : true,
        'overlayShow' : true,
        'autoDimensions' : false,
        'width' : 660,
        'height' : 600,
        'transitionIn'  : 'elastic',
        'transitionOut' : 'elastic'
      });


    });

</script>