<div class="row">
  <div class="span12 page-header">
    
      <h1>Ingreso de Usuario</h1>
    
  </div>
</div>

<div class="row">
  <div class="well span6 offset3">

    <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => "form form-horizontal"}) do |f| %>

      <div class="control-group">
        <%= f.label :email, :class=>"control-label"%>
        <div class="controls">
          <%= f.email_field :email %>
        </div>
      </div>

     <div class="control-group">
        <%= f.label :password,:class=>"control-label" %>
        <div class="controls">
          <%= f.password_field :password %>
        </div>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div class="control-group">
          <div class="controls">
            <label class="checkbox" for="user_remember_me">
              <input name="user[remember_me]" type="hidden" value="0">
              <input id="user_remember_me" name="user[remember_me]" type="checkbox" value="1">
              Recodarme
            </label>
          </div>
          
          
        </div>
      <% end -%>

      <div class="form-actions">
        <%= f.submit "Ingresar", :class => "btn btn-primary" %>
        <input type="reset" value="Cancelar" class="btn">
        <br />
        <br />
        <%= render "devise/shared/links" %>
      </div>

    <% end %>
  </div>
</div>
