<%
content_for :main_js do 
  %>
  "/assets/index"
<% end 
content_for :css do %>
<%= stylesheet_link_tag    "empresa", :media => "all" %> 
<% end %>

<div id="empresas">
	<header>
	    <a href="<%=root_path%>">
	      <h1>Dandoo.tv</h1>
	      </a>
	    <h2>Ingreso de Empresas</h2>
	  </header><!-- fin header -->

	<div class="contenedor">
		

		<%= form_for(resource,:as => resource_name,:url =>session_path(resource_name),:html => {:class =>'stn-form label-inline simple formulario'}) do |f| %>
		  <div class="field">
		  	<%= f.label :email %>
		  	<%= f.email_field :email, :autofocus => true %>
		  </div>

		  <div class="field">
		  	<%= f.label :password %>
		  	<%= f.password_field :password %>
		  </div>


		    <div class="field">
		    	<%= f.check_box :remember_me %> 
		    	<%= f.label :remember_me %>
		    </div>


		  <div class="actionrow">
		  	<%= f.submit "Ingresar",:class => 'button' %>
		  </div>
		<% end %>
	</div>
</div>