<div class="overlay">
  <% if !@user.nil?
    if @user.id == current_user.id && resource.user_id == current_user.id %>
      <div class="left">
        <div class="delete">
          
          <a href="<%=resource_path(resource)%>" data-method="delete" rel="nofollow" data-remote="true" id="delete_resource" data-confirm="¿Estás Seguro?">
            <i class="icon-trash"></i>

          </a>


          
        </div>
        <div class="edit">
          <i class="icon-edit" data-id="<%=resource.id%>"></i>
        </div>
      </div>
    <% end 
  end %>
  <div class="up">
    
    <a href="https://www.facebook.com/dialog/feed?app_id=<%=ENV['FACEBOOK_KEY']%>&link=http://dandoodev.herokuapp.com/resources/<%=resource.id%>&resource=<%=resource.imagen.url(:medium)%>&name=<%=resource.titulo%>&caption=Dandoo.tv&description=<%=resource.descripcion%>&redirect_uri=http://dandoodev.herokuapp.com/" style="z-index:2000" target="_blank">
    <div class="btn-facebook"></div></a>

    <a href="https://twitter.com/share?url=http://dandoodev.herokuapp.com/resources/<%=resource.id%>&text=<%=resource.titulo%>&via=Dandootv&lang=es&related=Dandootv&count=none&hashtags=#Dandoo" target="_blank" style="z-index:2000"><div class="btn-twitter" ></div></a>
    
    
    <div class="btn-comentar"></div>
    <% 
    style=""
    if user_signed_in?
      like = resource.likers.where(:id => current_user.id)
	   
	    if like.count > 0
	      style="active"
	    end 
    end%> 
    <div class="btn-like <%=style%>" data-id="<%=resource.id%>"></div>

    
  </div>
</div>
