<% 
@resources.each do |resource|
    %>
    
	<div class="item" id="<%=resource.id%>">
    	<div class="holder">
        <div class="image_holder">
          <% if resource.type == 'video' %>
            <%=image_tag "play_button.png", :class => 'play_button',:size => "64x64" %>
          <% end %>
		    <%= render :partial => 'resources/image_overlay',:locals => {:resource => resource} %>
        <%
        if resource.type == 'imagen'
          imagen = resource.imagen.url(:medium)
        else
          imagen =  resource.thumbnail
        end %>
        <%= link_to image_tag(imagen,:class => "resource"), "/resources/visor/#{resource.id}", :class => 'resource',:size=>"333x250"%>
        </div>
        <%= render :partial => 'resources/rating_container',:locals => {:resource => resource} %>
        <div class="separador"></div>
      </div><!--holder -->

      <div class="botonera">
          <div class="comments pull-left">
            <span class="like-count">
              <i class="heart"></i><%=resource.likers.count%>
            </span>
            <span class="comment-count">
              <i class="comment"></i><span><%=resource.comments.count%></span>
            </span>
          </div>

          <div class="votos pull-right">
            <% total = resource.votos.count
		      promedio = Resource.promedio_votos(resource.id)
		      nota = promedio.round
		      for i in 1..nota
		        %><div class="mini-star"></div><%
		      end
		      for i in nota...5
		        %><div class="mini-star2"></div><%
		      end
		      %>
            <div class="votos_result">
               <%= promedio %> 
		        / 
		        <%= total %>
            </div>
          </div>
      </div>

      <div class="separador"></div>

      <div class="flecha_desplegar">
      </div>

      <div class="separador"></div>

      <div class="extra">
        <div class="descripcion">
          <div class="thumb">
            <% begin 
            user = User.find(resource.user_id)
            %>
            <%= link_to image_tag(user.avatar.url(:thumb), :size => "32x32",:class => 'img-rounded thumb'), "/users/#{user.id}" %>
             <% rescue %>
            <%= image_tag 'default_user.png',:size => "32x32",:class => 'thumb img-rounded'%>
            <% end %>
          </div>

          <div class="desc">
            <div class="autor">
              <% begin %>
                <%=link_to user.nickname, "/users/#{user.id}"%>
              <% rescue %>
                Dandoo.tv
              <% end %>
            </div>
            <%=resource.descripcion %>
          </div>
        </div> 


        <div class="comentarios">
          <% resource.comments.order_by([[:created_at, :asc]]).limit(2).each do |comentario| %>
          <div class="fila" id="comentario-<%=comentario.id%>">
            <div class="thumb">
              <% begin 
                user = User.find(comentario.user_id) 
              %>
                <%= link_to image_tag(user.avatar.url(:thumb),:size => "32x32", :class => "thumb img-rounded"),"/users/#{user.id}" %>
              <% rescue %>
                <%=image_tag 'default_user.png',:class => "thumb img-rounded", :size => "32x32" %>
              <% end %>
            </div>
            <div class="desc">
              <div class="autor">
              <% begin %>
                <%=link_to user.nickname, "/users/#{user.id}" %>
              <% rescue %>
                
              <% end %>
              </div>
              <div class="fecha">
                <%=comentario.created_at.strftime("%d-%m-%Y / %I:%M:%S %p") %>
                
                <%if current_user.id == user.id %>
                  <a href="/comments/<%=resource.id%>/<%=comentario.id%>" data-method="delete" rel="nofollow" data-remote="true" class="delete_comment" data-confirm="¿Estás Seguro?"><i class="icon-trash"></i></a>
                <% end %>
              </div>
              <div style="clear:both;width:100%">
                <%= comentario.contenido %>
              </div>
            </div>
          </div>
          <% end %>

          <% if user_signed_in? %>
          <div class="fila">
            <div class="thumb">
              <%= image_tag current_user.avatar.url(:thumb), :size => "32x32",:class => 'img-rounded thumb' %>
            </div>
            <div class="desc">
              <div class="autor">
                <%=current_user.nickname%>
              </div>
              <input type="text" class="span3 comentar" data-id="<%=resource.id%>" placeholder="Ingresa tu comentario" maxlength="140">
            </div>
          </div>
          <% end %>
        </div>
  	  </div>
         

  </div>    

    <%
end
%>