<% css("picture") %>
<% javascript("picture") %>
<br />
<div class="row">
	<div class="well span6 imagen-show">
		<div class="overlay span6">
	      <div class="titulo"><%=@picture.titulo%></div>
	      
	      <div class="autor">
	      <% if @picture.user_id 
	      	begin
	      	%>
			<%=User.find(@picture.user_id).nombre %>
			<% rescue %>
				Default user
			<% end %>
	      <% else %>
	        Admin
	      <% end %>
	      </div>
	    </div>
		<%=image_tag @picture.imagen.url, :class => 'img-rounded'%>
        <div class="caption">
        	<div class="row">
	        	<%= render :partial => "botonera" %>
			</div>
			<br />
			<div class="row">
        		<div class="descripcion span7">
            	<%= @picture.descripcion %>
        		</div>
        	</div>
        </div>
	</div>

    <div class="well span3 offset1 comentarios" >
    	<%= render :partial => "comentarios" %>
    </div>
</div>