<div id="{{user_id}}" class="{{clase}}">
<span>
  <a href="#">
    <img src="{{avatar}}" alt="user" width="30" height="30" border="0">
  </a>
</span>
<div class="detail">
  <h2><a href="#">{{user_nickname}}</a></h2>
  <p>{{contenido}}</p>
</div>
<div class="dataUser">{{fecha}}</div>   
</div>