<div id="visor-modal" class="reveal-modal [expand, xlarge, large, medium, small]" >
	<div class="tarjeta">
		<div class="holder">
			<div class="thi">

				{{#compare this.type "imagen"}}
				<a href="{{imagen}}" target="_blank">
				<img src="{{imagen}}"/>
				</a>
				{{else}}
					{{#compare this.provider "youtube"}}
					<div id="ytplayer"></div>
					{{else}}
						{{#compare this.provider "vimeo"}}
						<iframe src="http://player.vimeo.com/video/{{video_id}}?title=0&byline=0&portrait=0&api=1&player_id=vmplayer" id="vmplayer" width="700" height="525" frameborder="0"  webkitAllowFullScreen mozallowfullscreen allowFullScreen ></iframe>
						{{/compare}}
					{{/compare}}
				{{/compare}}
				

				<div class="overlay">
					<div class="social">
						<div class="like"></div>
						<div class="comment"></div>
						<a href="https://twitter.com/share?url=http://dandoodev.herokuapp.com/resources/{{this.id}}&text={{this.titulo}}&via=Dandootv&lang=es&related=Danootv&count=none&hashtags=#Dandoo" target="_blank">
							<div class="twitter"></div>
						</a>
						<a href="https://www.facebook.com/dialog/feed?app_id={{FACEBOOK_KEY}}&link=http://dandoodev.herokuapp.com/resources/{{id}}&resource={{imagen}}&name={{this.titulo}}&caption=Dandoo.tv&description={{this.descripcion}}&redirect_uri=http://dandoodev.herokuapp.com" target="_blank">
							<div class="facebook"></div>
						</a>
					</div>
				</div><!--overlay-->
			</div>
			<div class="rating">
				{{#iter 1 promedio_votos}}
					<div class="star voted"></div>
				{{/iter}}
				{{#iter promedio_votos 4}}
					<div class="star off"></div>
				{{/iter}}
			</div>
			<div class="barra">
				<div class="logo-background"></div>
				<div class="autor">{{titulo}}</div>
				<div class="texto">{{descripcion}}</div>
			</div>
			<div class="botones">
				<div class="left">
					<img src="/assets/LIKE.gif" />
					<span class="like_count">{{total_likers}}</span>
					<img src="/assets/COMMENT.gif" />
				<span class="comment_count">{{total_comments}}</span>
				</div>
				<div class="right">
					<span class="votos_count">
						{{promedio_votos}}/{{total_votos}}
					</span>
					<span class="estrellas">
					{{#iter 1 promedio_votos}}
						<img src="/assets/STAR_ON.gif" />
					{{/iter}}
					{{#iter promedio_votos 4}}
						<img src="/assets/STAR_OFF.gif" />
					{{/iter}}
					</span>
				</div>
			</div>
			<div class="separador"></div>
			<div class="comentarios">
				<div class="nuevos_comentarios">
					{{#each comments}}
					<div class="fila" id="comentario-{{id}}">
						<div class="avatar">
							<a href="/users/{{user_id}}">
								<img src="{{this.avatar}}" width="40" height="40" />
							</a>
						</div>
						<div class="autor">
							<a href="/users/{{this.user_id}}">
								{{this.user_nickname}}
							</a>
						</div>
						<div class="fecha">
							{{fecha}}
						</div>
						<div class="texto">
							{{this.contenido}}
						</div>
					</div>
					<div class="separador"></div>
					{{/each}}
				</div>
				
				<div class="more"></div>
				{{#if signed_in}}
				<div class="form">
					<div class="fila">
						<div class="avatar">
							<a href="#">
								<img src="{{current_user_avatar}}" width="40" height="40" />
							</a>
						</div>
					
						<div class="texto">
							<form accept-charset="UTF-8" action="/comments" class="new_comment" id="new_comment" method="post" >
							<input type="text" class="text_comentario" placeholder="Escribe tu comentario" name="comment[contenido]" id="comment_contenido" maxlength="40"/>
							<img src="/assets/comentar.gif" class="comentar" />
							</form>
						</div>
					</div>
				</div>
				{{/if}}
				
			</div>
		</div>
	</div>
  
</div>