<!DOCTYPE html>
<html>
<head>
  <title>Alzheimer</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <style type="text/css">
  body
	{
		padding: 40px 0px 40px 0px;
		background-image: url("/assets/420.gif");
	}
  
  form
  {
  	width: 350px;
  	margin: 50px auto 50px auto;
  }
  </style>
</head>
<body>
<section class="container hero-unit">
<div id="user_nav" class="pull-right">
  <% if current_user %>
    Ingresado como <b><%= current_user.email %></b>
    <%= link_to "Cierra Sesión", log_out_path, :class => 'btn btn-info' %>
  <% elsif false %>
  	<%= link_to "Regístrate", sign_up_path, :class => 'btn btn-info' %> o
    <%= link_to "Ingresa", log_in_path, :class => 'btn btn-info' %>
  <% else %>
    
  <% end %>
</div>

	<div class="row clear">&nbsp;</div>
	<h1 style="text-align: center">Alzheimer</h1>
	<%= yield %>
</section>
</body>
</html>
