<!DOCTYPE html>
<html lang="es">
<head>
  <title>Dandoo.tv</title>
  <link href='http://fonts.googleapis.com/css?family=Cabin:400,500,700' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <link href="http://pinesframework.org/pnotify/jquery.pnotify.default.css" media="all" rel="stylesheet" type="text/css" />
<!-- Include this file if you are using Pines Icons. -->
<link href="http://pinesframework.org/pnotify/jquery.pnotify.default.icons.css" media="all" rel="stylesheet" type="text/css" />


  <%= javascript_include_tag "application" %>
  <%= yield(:head) %>
  <%= csrf_meta_tags %>
</head>
<body>

	<div id="loading" >
		<div style="position:relative;top:30%">
		<%= image_tag "loader.gif",:size =>"100x100" %>
		<br />
		Cargando...
		</div>
	</div>

	<div id="principal" style="display:none">
		<!--NAVBAR 
			====================================================================== -->
		<div class="container" >	
			<div class="navbar navbar-fixed-top" >
				<div class="navbar-inner">
					
						<div class="span3 pull-left">
							<a href="/">
								<div id="logo"></div>	
							</a>
						</div>
						<% if user_signed_in? %>
						<div class="botones">
							<ul class="nav">
								<li>
									<a href="#" class="pull-left tv active"></a>
								</li>
								<li>
									<a href="#" class="pull-right store"></a>
								</li>
							</ul>
						</div>
						<% end %>
						
						<div class="botones" style="float:right;">
							<ul class="nav">
								<% if user_signed_in? %>
								<li>
									<%= link_to image_tag(current_user.avatar.url,:class => 'thumb'), user_path(current_user)
									%>
								</li>
								
								<li>
									<%= link_to('Salir',destroy_user_session_path,:method=>'delete') %>
								</li>
								<% else %>
								<li>
									<div class="ingresar"></div>
								</li>
								<li >
									<%= link_to( image_tag('a__09.jpg'),"/auth/facebook") %>
								</li>
								<li >
									<%= link_to( image_tag('a__08.jpg'),"/auth/twitter") %>
								</li>
								<% end %>
								
							</ul>
						</div>
					
				</div>
			</div>


		<!-- CONTENEDOR PRINCIPAL 
		====================================================================== -->
		

			<!-- HEADER
			================================================================	====== -->	
			
				<div class="span11" id="header" style="border:1px black solid;">
					asg
					<div class="span5 offset5 pull-right" id="show">
						<div class="izq pull-left"></div>
						<div class="der pull-right"></div>
						<div class="texto">
							<strong>1.</strong> Disfruta los mejores videos de la Biblioteca
						</div>
					</div>
				</div>
			
			
			<%= yield(:barra) %>
			<%= yield(:botonera) %>
			

			<!-- CONTENIDO
			====================================================================== -->
		
			<div class="span11" id="body">
				<div class="row" id="mensajes-flash">
					<% flash.each do |type, msg| %>
					  <div class="alerta" data-title="Dandoo.tv" data-text="<%=msg%>" data-type="<%=notify_type(type)%>" style="display:none"></div>
					    
					<% end %>
				</div>

				
				<%= yield %>
				

			</div>
		</div>	

	</div>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/2.1.0/jquery.imagesloaded.min.js"></script>

	<script type="text/javascript" src="http://pinesframework.org/pnotify/jquery.pnotify.js"></script>
	
</body>

</html>
