<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="description" content="Dandoo.tv La primera red social de publicidad en el mundo">
    <meta name="viewport" content="width=device-width">
    <link rel="icon" 
      type="image/ico" 
      href="/assets/favicon.ico" />
    <meta property="og:title" content="Dandoo.tv - La primera red social de publicidad" />
    <meta property="og:type" content="company" />
    <meta property="og:site_name" content="Dandoo.tv" />
    <meta property="og:url" content="dandoodev.herokuapp.com/auth/facebook" />
    <meta property="og:image" content="http://devdandoo.tv/assets/logo.png" />
    <meta property="og:description" content="Dandoo.tv es la primera red social de Publicidad. Basados en Neurociencias Perceptivas desarrollamos interfaces capaces de llevar la interacción entre marca y usuario target al siguiente nivel." />

  	<title>Dandoo.tv</title>
  	<%= stylesheet_link_tag    "application", :media => "all" %>

	<script type="text/javascript">
	if (!window['YT']) {var YT = {};}if (!YT.Player) {(function(){var s = 'http:' + '//s.ytimg.com/yt/jsbin/www-widgetapi-vflU5wlSl.js';var a = document.createElement('script');a.src = s;a.async = true;var b = document.getElementsByTagName('script')[0];b.parentNode.insertBefore(a, b);YT.embed_template = "\u003ciframe width=\"425\" height=\"344\" src=\"\" frameborder=\"0\" allowfullscreen\u003e\u003c\/iframe\u003e";})();}
	</script>
	
  	<% #requirejs_include_tag "application" %>
  	<script type="text/javascript" src="/assets/require.js" data-main="/assets/application.js"></script>
  	<%= yield(:head) %>
  	<%= csrf_meta_tags %>
</head>
<body>
	<!--[if lt IE 7]>
        <p class="chromeframe">Estas usando un navegador muy antiguo. Te proponemos <a href="http://browsehappy.com/">Actualizar tu navegador hoy</a> o <a href="http://www.google.com/chromeframe/?redirect=true">instalar Google Chrome Frame</a> Para mejorar la experiencia en este sitio.</p>
    <![endif]-->

	<!-- Navigation -->

	<nav class="top-bar fixed" >
		<div class="container">
			<div class="three columns">
				<a href="/">
				<section class="logo"></section>
				</a>
			</div>
			<div class="five columns offset-by-seven">
				<div class="section two columns">
					<a href="/" class="tv active"></a>
					<a href="#" class="store"></a>
				</div>
				<div class="login two columns">
					<% if user_signed_in?%>
					<%= image_tag current_user.avatar.url(:thumb),:size  => '40x40',:class => 'avatar' %>
					<% else %>
					<a href="/auth/twitter" class="twitter"></a>
					<a href="/auth/facebook" class="facebook"></a>
					<div class="user"></div>
					<% end %>
					
				</div>
			</div>
		</div>
	</nav><br><br>

	<!-- End Navigation -->
	

	<!-- Header -->

    <div id="header">
    	<% if user_signed_in? %>
    	<div class="widget">
    		
			<ul id="listado-list" class="elastislide-list">
				<li style="position:relative;">
					<%= image_tag 'header/pieza1.jpg' ,:class => 'recurso'%>
					<div style="position:absolute;top:0;left:0">
						<%= image_tag '50_dandoo.png' %>
					</div>
				</li>
				<li style="position:relative;">
					<%= image_tag 'header/pieza2.jpg' ,:class => 'recurso'%>
					<div style="position:absolute;top:0;left:0">
						<%= image_tag '100_dandoo.png' %>
					</div>
				</li>
				<li style="position:relative;">
					<%= image_tag 'http://s3.amazonaws.com/dandoo-pictures/imagens/5081abd82b091e8689000002/medium.png?1350675410' ,:class => 'recurso'%>
					<div style="position:absolute;top:0;left:0">
						<%= image_tag '150_dandoo.png' %>
					</div>
				</li>

				<li  style="position:relative;">
					<%= image_tag 'header/pieza1.jpg' ,:class => 'recurso'%>
					<div style="position:absolute;top:0;left:0">
						<%= image_tag '50_dandoo.png' %>
					</div>
				</li>
				<li  style="position:relative;">
					<%= image_tag 'header/pieza2.jpg' ,:class => 'recurso'%>
					<div style="position:absolute;top:0;left:0">
						<%= image_tag '100_dandoo.png' %>
					</div>
				</li>
				
				<li  style="position:relative;">
					<%= image_tag 'http://s3.amazonaws.com/dandoo-pictures/imagens/5081abb42b091e8689000001/medium.png?1350675376' ,:class => 'recurso'%>
					<div style="position:absolute;top:0;left:0">
						<%= image_tag '150_dandoo.png' %>
					</div>
				</li>
			</ul>
    		
    	</div>
	    <% else %>
    	<%= image_tag 'header/header.jpg' %>
    	<div id="sub_header">
    		<%= image_tag 'header/header1280_a.jpg' %>
    		<%= image_tag 'header/header1280_b.jpg' %>
    		<%= image_tag 'header/header1280_c.jpg' %>
    		<%= image_tag 'header/header1280_d.jpg' %>
    	</div>
    	<% end %>
    </div>

  <!-- End Header -->
	

	<div class="container row" id="principal">
		<div class="twelve columns">
			<div class="row">
				<div class="three columns">
					<input type="text" class="buscar" placeholder="Buscar"/>
					<div class="buscar"></div>
				</div>
				<div class="three columns botonera">
					<div class="section imagenes active"></div>
					<div class="section videos active"></div>
					<div class="section vista1 active"></div>
					<div class="section vista2"></div>

				</div>

				<div class="two columns secciones">
					<!--en orden inverso a como se veran-->
					<a href="#nuevos">
						<div class="section nuevos"></div>
					</a>
					<a href="#vistos">
						<div class="section vistos"></div>
					</a>
					<a href="#valorados">
						<div class="section valorados"></div>
					</a>
					<a href="#index">
						<div class="section favoritos active"></div>
					</a>
				</div>
			</div>
			<br /><br />
			<!-- CONTENIDO -->
			<%= yield %>
			<!--- -->
		</div><!--sixteen columns-->
	</div>			
  		
	

	<div id="templating"></div>
	
	<!-- <div id="confirmModal" class="reveal-modal [expand, xlarge, large, medium, small]">
	  <h2>¿Estás seguro?</h2>
	  <p id="mensaje"></p>
	  <a class="close-reveal-modal">&#215;</a>
	</div> -->

	

	<script>
            var _gaq=[['_setAccount','UA-35427461-2'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>
	
</body>

</html>
