<!DOCTYPE html>
<html>
<head>
  <title>Alzheimer</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <style type="text/css">
  body
	{
		padding: 40px 0px 40px 0px;
		background-image: url("/assets/420.gif");
	}
  
  form.center
  {
  	width: 400px;
  	margin: 50px auto 50px auto;
  }
  </style>
</head>
<body>
<section class="container hero-unit">
<div id="user_nav" class="pull-right">
  <% if current_user %>
    Ingresado como <b><%= current_user.first_name.to_s+' '+current_user.last_name.to_s %></b>
    <%= link_to "Cierra Sesión", log_out_path, :class => 'btn btn-primary btn-mini' %>
  <% elsif false %>
  	<%= link_to "Regístrate", sign_up_path, :class => 'btn btn-info' %> o
    <%= link_to "Ingresa", log_in_path, :class => 'btn btn-info' %>
  <% else %>
    
  <% end %>
</div>

	<div class="row clear">&nbsp;</div>
	<h1 style="text-align: center">Alzheimer</h1>
	<%= yield %>
  <div class="row">&nbsp;</div>
  <div class="row">&nbsp;</div>
  <div class="row">&nbsp;</div>
  <div class="row">&nbsp;</div>
</section>
<section class="container hero-unit" style="height: 0px; ">
    <div class="row top-round-bordered bottom-round-bordered" style="margin-top: -20px;margin-bottom: 20px;padding: -50px;">
      <pre style="width: 960px; color:#444"> <i style="height: 50px"> ©Todos los derechos reservados <a href="<%= root_path %>">POS</a> <%= Time.now.year.to_s %> </i> <i class="pull-right"> Powered by <a href="http://www.brainshots.cl">Brainshots&nbsp;<img src="/assets/logo_schof2.png" style="height: 20px; margin-bottom: -5px"></a>  </i></pre>    
    </div>
</section>


</body>
</html>
